<div class="col-md-6">
    <div class="wow fadeInUp" data-wow-delay="0.5s">
        @if (ViewBag.MailSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                Mail Gönderimi Başarılı.
            </div>

        }
        else if (ViewBag.MailSuccess == false)
        {
            <div class="alert alert-danger" role="alert">
                Mail Gönderimi Başarısız
            </div>
        }
        else
        {

            <p class="mb-4">İlgilendiğiniz emlak konuları hakkında bize ulaştığınız için teşekkür ederiz. Size en kısa sürede dönüş yapmak için buradayız. Lütfen aşağıdaki formu doldurun ve istediğiniz konuda bize sorularınızı veya geri bildirimlerinizi gönderin.</p>
        }

        <form action="/Home/SendEmail">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="name" placeholder="Your Name">
                        <label for="name">Ad Soyad</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" name="email" placeholder="Your Email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="subject" placeholder="Subject">
                        <label for="subject">Konu</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a message here" name="message" style="height: 150px"></textarea>
                        <label for="message">Mesaj</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Email Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>
