@model List<ResultProductDetailDTO>

<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Property Listing</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#sell">Satılık</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#rent">Kiralık</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="sell" class="tab-pane fade show p-0 active">
                @Html.Partial("_PartialProduct", Model.Where(i => i.Product.Type == "Satılık").Take(5).ToList())
            </div>
            <div id="rent" class="tab-pane fade show p-0">
                @Html.Partial("_PartialProduct", Model.Where(i => i.Product.Type == "Kiralık").Take(5).ToList())
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->