    <!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="/Home/Index" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="~/img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">Emlak Plus</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="/Home/Index" class="nav-item nav-link active">Anasayfa</a>
                <a asp-action="About" asp-controller="Home" class="nav-item nav-link">Hakkımızda</a>
                <a asp-action="ProductList" asp-controller="Home" class="nav-item nav-link">İlanlar</a>
                <a asp-action="AgencyList" asp-controller="Home" class="nav-item nav-link">Acenteler</a>
                <a asp-action="Contact" asp-controller="Home" class="nav-item nav-link">İletİşİm</a>                
            </div>
            <a href="" class="btn btn-primary px-3 d-none d-lg-flex">İlan Ver</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->
