
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@await Component.InvokeAsync("_DashboardStatisticViewComponentPartial")
@await Component.InvokeAsync("_DashboardLast5ProductViewComponentPartial")
<div class="row">
    @await Component.InvokeAsync("_DashboardLast4MailViewComponentPartial")
    @await Component.InvokeAsync("_DashboardCalenderViewComponentPartial")
</div>


