@model List<ResultProductDetailDTO>
<!-- Property DiscountOfDay Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class=" text-center text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Günün Favori İlanları</h1>
                    <p>
                        "Günün Favori İlanları: Hayalinizdeki evi bulmanız için seçilmiş en özel ve cazip teklifler burada!"
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
              @* @Html.Partial("_PartialProduct",Model) *@
            <partial name="_PartialProduct",model="@Model" />
            </div>
        </div>
    </div>
</div>
<!-- Property DiscountOfDay End -->