@model ResultSliderDTO
<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">@Model.Title</h1>
            <p class="animated fadeIn mb-4 pb-2">
               @Model.Description
            </p>
           
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="~/img/@Model.ImageUrl1" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="~/img/@Model.ImageUrl2" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->