@model ResultWhoWeAreDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Biz Kimiz</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Resim</th>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Id</td>
                            <td><img class="img-fluid" src="~/img/@Model.Image" alt="Icon"></td>
                            <td>@Model.Title</td>
                            <td style="text-wrap: wrap;">@Model.Description</td>
                           
                            <td><a href="/WhoWeAre/Edit?id=@Model.Id" class="btn btn-outline-warning">Güncelle</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

