@model List<ResultClientDTO>
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Sizden Gelenler!</h1>
            <p>Yorumlarınız bizim için çok değerli.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var item in Model)
            {
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-4">
                        <p>@item.Comment</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="~/img/@item.ImageUrl" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">@item.Name</h6>
                                <small>@item.Title</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
          
        </div>
    </div>
</div>
<!-- Testimonial End -->
